.Dialog {
    position: absolute;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #999999;
    overflow: hidden;
    border-radius: 4px;
}

.Dialog-Title {
    display: flex;
    justify-content: space-between;
    flex: 0 0 36px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    background: #cccccc;
}

.Dialog-Title.dragable {
    cursor: move;
}

.Dialog-Title-Text {
    font-size: 18px;
    color: #666666;
}

.Dialog-Content {
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
    flex: 0 1 100%;
    overflow-y: auto;
}

.Dialog-Title-BtnContainer {
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

.Dialog-Title-Btn {
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #e5e5e5;
}

.Dialog-Title-Btn:hover {
    cursor: pointer;
    color: #333333;
}

.Dialog-Title-Btn.minimize {
    margin-right: 14px;
}